Flask>=2.0
dkimpy>=0.9.3
pyspf>=2.0.15
dnspython>=2.0.0
pyclamd>=0.5.1
scikit-learn>=1.0
pandas>=1.3
numpy>=1.21
python-magic>=0.4.27
email-validator>=1.3.0
joblib>=1.2.0
python-dotenv>=1.0.0
tqdm>=4.64